@{
    ViewBag.Title = "Nissan: Home";
}
<div class="row text-center cols-xs-12 top-buffer">
    <img src="~/Content/Images/nissan.jpg" class="img-responsive" style="max-width:150px;margin:0 auto" />
    <p class="lead text-capitalize">DESIGN FOR GOOD</p>
    <button class="btn btn-outline btn-danger"><span class="lead">#signedforgood</span></button>
</div>
<div class="row top-buffer">
    <div class="col-xs-4">
        <div class="text-center">
            <button id="Vote1" value="Vote1" class="btn btn-lg btn-outline btn-success">Vote 1</button>
        </div>
        <h2><strong>1. Lorem ipsum dolor</strong></h2>
        <p class="lead text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec egestas velit. Sed posuere luctus lacinia. Sed lacinia porttitor cursus
        </p>
    </div>
    <div class="col-xs-4">
        <div class="text-center">
            <button id="Vote2" value="Vote2" class="btn btn-lg btn-outline btn-success">Vote 2</button>
        </div>
        <h2><strong>2. Lorem ipsum dolor</strong></h2>
        <p class="lead text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec egestas velit. Sed posuere luctus lacinia. Sed lacinia porttitor cursus
        </p>
    </div>
    <div class="col-xs-4">
        <div class="text-center">
            <button id="Vote3" value="Vote3" class="btn btn-lg btn-outline btn-success">Vote 3</button>
        </div>
        <h2><strong>3. Lorem ipsum dolor</strong></h2>
        <p class="lead text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec egestas velit. Sed posuere luctus lacinia. Sed lacinia porttitor cursus
        </p>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var vote = $.connection.votingHub;
            vote.client.upVote = function (data) {
                var vote_html = "";
                $.each(data, function (key, value) {
                    $("*[data-votee='" + key + "']").html(value);
                })
                console.log("Up Vote!", data);
            }
            $.connection.hub.start().done(function () {
                $("button").click(function () {
                    console.log(this.value);
                    vote.server.upVote(this.value);
                });
            });
        });
    </script>
}


